/* body {
  min-height: 100vh;
  background-color: #0c5080;
} */
/* body {
  overflow-y: hidden;
} */

.main-container {
  min-height: 100vh;
  background-color: #0c5080;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-card {
  width: 30rem;
}

.quiz-answer-card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-danger,
.bg-success {
  color: white;
}
.width-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.headline {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  padding: 10px;
}
.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
